[2020-01-27 10:13] MaxvandeLaar opened #1 "Change channel via flow card"
**Is your feature request related to a problem? Please describe.**
I can't change the channel from a flow

**Describe the solution you'd like**
To have an action flow card to change the channels by number or selection from a list in case of digital channels

[2020-02-12 20:04] rolandb5 opened #2 "Add sound_output"
Thanks a lot for this improved WEBOS app!

I would love to see sound output added to the overview; just as it's possible to do on the Hass.io integration: https://www.home-assistant.io/integrations/webostv/#sound-output

That way I can easily switch between my soundbar, headphones and TV speakers

[2020-02-13 09:39] MaxvandeLaar commented on #2
Hi @rolandb5,

Thanks for the suggestion, I will have a look at this. I am using the LGTV2 library which does not seem to support this (at least, it's not documented). I'll first add some more basic things and after that I'll try to figure out how HA does this.

[2020-02-14 08:39] MaxvandeLaar opened #3 "Flow cards connect to wrong device"
**Describe the bug**
When two or more tv's are added, flow cards use the lgtv connection from the last added tv

**To Reproduce**
Add two tv's and try to create an flow action for the tv added first

**Expected behavior**
The flow action should apply to the correct tv

[2020-02-16 16:34] MaxvandeLaar commented on #3
Fixed in v1.0.0

[2020-02-16 16:34] #3 closed

[2020-02-16 16:34] MaxvandeLaar commented on #1
Added in v1.0.0

[2020-02-16 16:34] #1 closed

[2020-02-19 14:09] sossienl opened #4 "App Crash"
**Describe the bug**
App after install from Git worked ok. Added device (went ok), now it constantly crashes.
Setup: LG OLED 55C7V running 05.80.35

**To Reproduce**
Not sure. Restart the app, but it crashes again

Please do let me know if I need to share antything else

[2020-02-19 14:11] MaxvandeLaar commented on #4
@sossienl Sorry to hear you are experiencing these crashes. If possible, could you install the app by running `homey app run` instead of the `install` command. This way the log will show in your terminal which will probably give a hint to what is happening. Can you please share what the error log shows?

[2020-02-19 14:13] sossienl commented on #4
2020-02-19 15:13:06 [log] [WebosPlus] WebOS Plus is running...
module.js:550
    throw err;
    ^

Error: Cannot find module 'node-wol'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module._load (module.js:475:25)
    at Module.require (module.js:597:17)
    at Module.require (/opt/homey-client/system/manager/ManagerApps/bootstrap/sdk/v2/index.js:1:253)
    at require

[2020-02-19 14:16] MaxvandeLaar commented on #4
Thanks for the fast reply. This is luckily an easy fix. It appears the npm package 'node-wol' did not correctly install.

Did you downloaded the source code or the webos-plus.zip file?

In any case, try to run `npm install` in the project folder and check if node-wol exists in the 'node_modules' folder. Then try to install the app again.

[2020-02-19 14:19] sossienl commented on #4
Worked! Thanks!

[2020-02-19 14:21] MaxvandeLaar commented on #4
Good to hear! Good luck with it 😉!

[2020-02-19 14:21] #4 closed

[2020-02-23 13:38] johngrinders opened #5 "Sand message"
Hey.  Everything works great.  There are no errors, no problems, everything is perfect.  Thanks for the app.  One small question: two more lines appeared in the message sending, as I understand it, to send an image, I just can’t figure out how to use it.  I would be grateful for an example of use.  Thanks!!!
![2E12A3D6-6A77-4E5C-881C-DEE5FDDBA4E1](https://user-images.githubusercontent.com/13437063

[2020-02-23 16:03] MaxvandeLaar commented on #5
Hi @johngrinders,

Glad to head everything is working out great for you. I do admit, this feature is sadly not as straightforward as I would have liked and I'll make sure the README will include some general examples. I made a quick example flow (the flow labels are in Dutch but you'll probably work it out 😉) https://homey.app/f/UKYLO1 (Sadly the UI of the flow sharing isn't that great)

So to wal

[2020-02-23 18:23] MaxvandeLaar commented on #5
@johngrinders,

So when writing the explanation above, I really started to dislike how it works. Therefor, I decided to rewrite it a bit resulting in a new version of the app. It now allows for urls to image as well.

* The icon extension is no longer required
* You can use e.g. `https://i.picsum.photos/id/882/200/300.jpg` as image and still use base64 if preferred. Removed the `data:image/*;base6

[2020-02-23 18:23] #5 closed

[2020-02-24 09:02] johngrinders commented on #5
Installed version 1.1.0, everything works perfectly.  There is a proposal to make it possible to add an image from the Gallery application, as for example this can be implemented in sending a push message with an image.  There is another question regarding image size.  as I understand it, in a message it is displayed with dimensions of about 300 ns and 300 pixels, and you can’t do it again?

[2020-02-24 09:17] MaxvandeLaar commented on #5
Hi @johngrinders, I was definitely not aware of any Gallery app (I will look into this), can you please create a new issue for both questions as they don't seem to relate to the current one. Furthermore, I do not understand what you want to achieve or mean with the second question.

[2020-02-25 17:10] MaxvandeLaar commented on #2
@rolandb5, I figured out how to change the setting and since it shouldn't be too hard I will try to create a new version this week.

[2020-02-25 17:42] MaxvandeLaar commented on #2
Added in commit adffe0c61516f921e738ae692023f0a14a8a2147. Will be released in v1.2.0

[2020-03-09 14:33] kaohlive opened #6 "support image tag for toast notification"
It would be very cool if you can support the image tag (HomeyImage) as image source for the toast notification instead of/next of the base64.
that would make it possible to take a camera image and send it as toast for example

[2020-03-10 08:48] MaxvandeLaar commented on #6
Good suggestion, I was actually already looking into that!

[2020-03-10 08:57] MaxvandeLaar opened #7 "Add more triggers"
Add more flow triggers

- [x] Channel
- [x] App/Input
- [x] Sound output

[2020-03-20 18:42] #6 closed

[2020-03-20 18:49] #7 closed

[2020-03-22 12:21] kaohlive opened #8 "Enable current app media screen"
In Homey devices when you open your LG WebOS TV you get the controls to do some light interaction with the tv. What I would like is to see what App/Input is active on the TV as the AlbumArt inlcuding media controls. So I can see that the Netflix app is running with its logo and allowing for the prev play/pause next buttons to interact with it.

Similar behavior can be seen by the official LG tv ap

[2020-03-22 15:09] MaxvandeLaar commented on #8
Sounds interesting, I'll definitely see what I can do.

[2020-03-23 18:01] MaxvandeLaar opened #9 "Trigger with argument"
**Is your feature request related to a problem? Please describe.**
Trigger a flow when the app changed to e.g. Netflix. Now this is only possible to create a trigger in general and conditional check if the app is Netflix

**Describe the solution you'd like**
It should work the same way as other apps with the check inside the trigger.

[2020-03-23 18:01] #9 closed

[2020-03-23 22:58] kaohlive opened #10 "app never stops loading in v1.2.1"
So I tried to update to 1.2.1 so I downloaded the new version and the code shows 1.2.1
Then I ran homey app install. It deployed fine but the app never stops loading.

Then I ran homey app run and even then, I can see it deploy and then nothing. it never stops inititalizing.

[2020-03-23 23:41] kaohlive commented on #10
sorry homey was stuck in limbo.
After a couple of restarts it started to work again

[2020-03-23 23:56] #10 closed

[2020-03-23 23:57] kaohlive opened #11 "allow for lower polling interval"
You have the minimum polling interval set to 120s.
In my opinion this is to long to detect on/off state since it makes the reaction to events way to slow.
Can you allow me to set my polling to a lower value?

[2020-03-24 08:27] MaxvandeLaar commented on #11
@kaohlive, yes and no.

It's obviously easy for me to change the minimum polling interval, however, I have much thought about that before releasing the first version and I have experimented with lower intervals. The problem is, Homey doesn't allow for pings and at the moment I check the mac address of the IP address of the recognised tv as a ping mechanism.

This takes some time, and if you turn o

[2020-03-24 09:33] kaohlive commented on #11
so i am trying to make some alexa voice control for the tv. so i created a virtual switch on/off that can be seen by alexa skill. then when alexa turns this vd on i turn on the tv and vice versa. to ensure proper status i also use a tv on/off trigger to set the vd in the same state.
next i have a trigger that when the vd gets turned on and no input is selected on the tv or its off it can turn it o

[2020-03-24 09:42] MaxvandeLaar commented on #11
I do have another option to check state which is even more reliable then polling. I don't want to get into detail but according to my initial (short) tests it would vastly increase performance and stability. So polling won't be longer a thing. However, this won't be implemented yet as I first want to release v1.3.0

[2020-03-24 09:42] #11 closed

[2020-03-24 10:29] OllemGit commented on #11
Did you have a look at Nmap command?
This app is based on this:
https://homey.app/nl-nl/app/nl.terryhendrix.netscan/Net-Scan/

[2020-03-24 10:33] MaxvandeLaar commented on #11
Yes I did, can't remember why that didn't worked out. But as stated above, I probably have a different solution and even better, its part of the WebOS api 😉

[2020-03-24 10:39] OllemGit commented on #11
Even better than! :-)

[2020-03-24 12:27] Tjadevisser opened #12 "TV is ON as "AND" condition"
Please add the TV is ON/OFF as "and" condition.

My lights in the livingroom go off after 10 minutes except when te TV is on (sitting still on the couch).
Condition is available in original athom app, missing in this (almost) perfect fork..

Keep up the good work.

[2020-03-24 12:34] MaxvandeLaar commented on #12
Is this not what you are looking for? The condition for the tv is it's on or off? This is already implemented.

<img width="388" alt="image" src="https://user-images.githubusercontent.com/5842932/77426007-ec683200-6dd3-11ea-9004-f58749fb7c74.png">

If this is not what you are looking for then I please elaborate what you are missing in the current version?

[2020-03-24 12:44] Tjadevisser commented on #12
Schele kip:).
Thanks.

[2020-03-24 12:44] #12 closed

[2020-03-24 13:00] MaxvandeLaar commented on #12
No problem 🙂

[2020-03-24 16:04] #8 closed

[2020-03-24 16:18] MaxvandeLaar opened #13 "Rewrite on/off check"
Rewrite the current polling implementation for checking the device state. Use the WebOS api instead

[2020-03-24 22:24] kaohlive commented on #8
Very strange but I still do not get a pause/play button. I have the Netflix logo, I have the prev/next buttons, but no play/pause.

I added the following code to the device before install:
    if(!this.hasCapability("speaker_playing")) {
      await this.addCapability("speaker_playing");
    }

And now i do have the button. So it probably only works for newly added devices.

[2020-03-25 09:28] MaxvandeLaar commented on #8
Hmm interesting, my devices are added since version 0.1.0 and haven't been readded. But I do see that I have every other speaker_* capability added except speaker_playing so that might be the problem indeed. Maybe my home persists this capability somewhere and I suppose it will disappear when I reboot it. Glad that you fixed it for yourself, I'll add it to the list.

[2020-03-25 23:10] kaohlive opened #14 "TV turns on when Of command is send"
When the TV is off and an Off command is send from a flow the device turns on.

[2020-03-26 09:01] MaxvandeLaar commented on #14
@kaohlive, is the command executed as well, or did it only turned the tv on?

Whenever a command is executed, I check if there is a connection with the tv, if not I try to connect. I think this is what you are experiencing. Luckily, I am well on my way with the rewrite so I need to check if this is still happening with the new method.

[2020-03-26 11:22] kaohlive commented on #14
it only turns on the tv, else i would not have noticed 😂. but lets await your rewrite.

[2020-03-26 13:10] MaxvandeLaar commented on #11
@kaohlive @OllemGit Just a quick update on the rewrite and on/off state timing.

With the new method of listening for state changes I timed (just once) how long it takes state changes to be detected in the app if the tv is turned on/off with the remote control instead of an app (such as Homey or Homekit).

From on to off: it's pretty much instant (say 1 or 2 seconds)

From off to on: it took 55 se

[2020-03-26 14:38] zwaardemaker opened #15 "Sending toastmessage with gallery image not displayed on TV"
Sending toastmessage with gallery image not displayed on TV

Tryed different images and filesizes, but non of the images and text are displayed on TV

[2020-03-26 14:43] MaxvandeLaar commented on #15
@zwaardemaker, what were any special mime-types? Such as gif or something else?

[2020-03-26 14:57] zwaardemaker commented on #15
@MaxvandeLaar , tried gif and jpg

[2020-03-26 15:02] MaxvandeLaar commented on #15
@zwaardemaker I know for sure gif won't work. WebOS won't accept that, jpg should work though. I don't know if it is possible to restrict mime-types when using the gallery images.

I will test jpg again within a few days. Currently I am busy rewriting the entire code base so it has to wait until that is finished.

[2020-03-26 15:06] zwaardemaker commented on #15
@MaxvandeLaar I will try again a small sized jpg and let you know later on! Great app so far!

[2020-03-26 16:14] MaxvandeLaar commented on #15
@zwaardemaker, I just tried it with a .jpeg image and it worked flawless for me.

[2020-03-26 16:22] OllemGit commented on #15
Easy way to test by using 'image grabber app' to get any kind and size of image to test with Homey

![image](https://user-images.githubusercontent.com/5181140/77670031-eb770200-6f85-11ea-9ce7-c9e932eb1e92.png)
![image](https://user-images.githubusercontent.com/5181140/77670118-077aa380-6f86-11ea-9dcc-689085e0d819.png)

[2020-03-26 16:30] MaxvandeLaar commented on #15
Hmm interesting, I will check what happens here.

[2020-03-26 16:39] MaxvandeLaar commented on #15
@OllemGit can you share an image url that is not working for you, because it works for me.

[2020-03-26 16:49] zwaardemaker commented on #15
Doesn't work with jpeg either overhere🤔

[2020-03-26 16:51] MaxvandeLaar commented on #15
@zwaardemaker @OllemGit, I encountered a not working toast only when the resolution was extreem (2000x1000) for example. The same image, much smaller works without any issues for me. Tried jpeg, jpg, png with Image Grabber, Gallery, and plain Base64, Url with other toast card. Please send me an image to test with, because I cannot reproduce this without going to extreem resolutions.

[2020-03-26 18:24] #13 closed

[2020-03-26 18:26] MaxvandeLaar commented on #14
@kaohlive

I think this is fixed in V2.0.0-rc1

[2020-03-26 18:49] MaxvandeLaar opened #16 "Speaker track undefined"
If channelNumber and/or channelName is undefined. Don’t set it to the track.

[2020-03-26 18:55] OllemGit commented on #15
This is the image I used in my test sample flow - I just googled a simple smiley image:

https://c2.plzcdn.com/ZillaIMG/800f03d026e08ab0d6c95baebda55ba8.jpg

![image](https://user-images.githubusercontent.com/5181140/77685329-9e058f80-6f9b-11ea-9412-4a75407ee130.png)

[2020-03-26 18:56] OllemGit commented on #15
I believe my TV is at WebOS 3.5
Could it be WebOS version related issue?

[2020-03-26 22:13] kaohlive commented on #14
I think so to.

[2020-03-26 22:13] #14 closed

[2020-03-26 22:17] kaohlive opened #17 "Power on issue"
So if I use the remote to power on the 2.0 version I get 1 out of 2 times an immediate power down again. I mean a real shutdown not just displayed as off in the app.
This also happens when power on from the app.
In both cases the app is aware that the tv is off.

[2020-03-26 22:20] kaohlive opened #18 "Power off issue"
The app does not want to be aware that the tv is off.
If I power the TV off using the remote the app never detects it as being off.
If I power off using the app the app confirms the off state for a second and than the button turns back to on state.
It then never gets to the off state again.
Pressing the button to the off state does nothing with the tv (probably tries to shutdown but since its off

[2020-03-26 22:29] kaohlive commented on #18
So here is some info from the log on power down:
  state: 'Active',
  processing: 'Request Power Off' }
  state: 'Active',
  processing: 'Request Active Standby' }
  state: 'Active',
  processing: 'Request Suspend' }
  state: 'Active',
  processing: 'Prepare Suspend' }

So far seems obvious, but then I get
2020-03-26 23:24:50 [log] [ManagerDrivers] [webos_plus] [0] _powerStateListener: TV changed

[2020-03-26 22:32] kaohlive commented on #17
Here is a log off the power on and auto back off issue:

2020-03-26 23:30:03 [log] [ManagerDrivers] [webos_plus] [0] toggleOnOff: Called true
2020-03-26 23:30:03 [log] [ManagerDrivers] [webos_plus] [0] toggleOnOff: Try to turn the tv on
2020-03-26 23:30:03 [log] [ManagerDrivers] [webos_plus] [0] _turnOn: Send request to turn on (WoL) with mac address 78:5d:c8:14:2e:e3
2020-03-26 23:30:03 [log] [Ma

[2020-03-26 22:37] kaohlive commented on #17
The only thing that strikes me is the timeout i see on the getlaunchpoints. If I go to the flow and create an action card and select an app to luanch then I see the same call in the log with the response. No timeout then.

[2020-03-26 22:43] kaohlive commented on #17
Here is a log when the TV is turned on using the remote:
2020-03-26 23:42:42 [log] [ManagerDrivers] [webos_plus] [0] _handleResponse: ssap://com.webos.service.tvpower/power/getPowerState
2020-03-26 23:42:42 [log] [ManagerDrivers] [webos_plus] [0] _powerStateListener: Power state changed { returnValue: true, state: 'Suspend' }
2020-03-26 23:42:42 [log] [ManagerDrivers] [webos_plus] [0] _powerStateL

[2020-03-27 09:14] MaxvandeLaar commented on #17
@kaohlive, judging from the logs I think it is logical (unwanted) behaviour. I have two LG tv's at home which I can test with and but work great. However, they both takes ages to connect when I power them off. Yours on the other hand seems much faster. Let me explain it with a small piece of your logging from your first comment.

Here we can see that you powered the tv on with the app since toggle

[2020-03-27 09:42] MaxvandeLaar commented on #15
@OllemGit Can you try it with this link? https://s3.eu-central-1.amazonaws.com/plzcdn-zillaimg/800f03d026e08ab0d6c95baebda55ba8.jpg

I noticed that your link redirects to the actual image, maybe that's the problem. Note that I have 2 toast cards

<img width="320" alt="image" src="https://user-images.githubusercontent.com/5842932/77742798-56244e00-7017-11ea-9b4c-665b0b2c3f3c.png">

The first card a

[2020-03-27 10:30] zwaardemaker commented on #15
@MaxvandeLaar Can you test this one?

![chaos](https://user-images.githubusercontent.com/25539513/77747003-27f63c80-701e-11ea-8ffa-aff50d9be278.jpg)

[2020-03-27 10:42] MaxvandeLaar commented on #15
@zwaardemake I test by sending a toast to my tv and by sending a push notification to my phone.

With image grabber referred to the url https://user-images.githubusercontent.com/25539513/77747003-27f63c80-701e-11ea-8ffa-aff50d9be278.jpg. Image did not work on both the TV and phone.

Using the same link with my toast card in the card without gallery (just text and base64/url) the link does work.

D

[2020-03-27 10:58] zwaardemaker commented on #15
@MaxvandeLaar think it tv related notification from gallery to my phone works fine. From gallery to toast and from the base 63url it doesn't work

[2020-03-27 12:12] OllemGit commented on #15
I quickly tested and including image URL using the regular toast message doesn't work either. With just plain text it does work.

[2020-03-27 12:52] zwaardemaker commented on #15
Also overhere. Just a textmessage works fine

[2020-03-27 12:53] MaxvandeLaar commented on #15
@OllemGit & @zwaardemaker both webos 4.x?

[2020-03-27 13:09] OllemGit commented on #15
My set is at WebOS 4.0 yes

[2020-03-27 13:16] zwaardemaker commented on #15
Not Sure. I have an oled65b8. Standard with webos 3.5 i think. Had some updates. Softwareversion 5.10.40

[2020-03-27 13:31] MaxvandeLaar commented on #15
Okay, so this seems very hard to fix at the moment. What I'll do is, try to make some changes in my code which send the mime-type to the LG Tv. I will let you guys know here when I released the version with the fix. If this does not seem to do anything for you, I don't really know how to solve the issue and I cannot promise you I can/will fix it anytime soon.

Sorry for this somewhat disappointing

[2020-03-27 14:07] zwaardemaker commented on #15
It's not the and of the world. Thank you so much for now! Let me know when you made the changes and i will test it

[2020-03-27 14:21] OllemGit commented on #15
+1
Not urgent and thanks for your efforts!

[2020-03-27 15:48] MaxvandeLaar commented on #17
@kaohlive could you try https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.0.0-rc2?

[2020-03-27 15:48] MaxvandeLaar commented on #18
@kaohlive Could you try https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.0.0-rc2?

[2020-03-27 15:50] MaxvandeLaar commented on #15
@zwaardemaker @OllemGit I made changes to getting the mime-type in https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.0.0-rc2. Please note that this is a release candidate and not a production release just yet. Mostly changed the way power on/off is detected and includes a complete rewrite of the code with much more logging to help debugging.

[2020-03-27 16:48] zwaardemaker commented on #15
I will test it asap!

[2020-03-27 17:24] #16 closed

[2020-03-27 17:44] kaohlive commented on #18
power on seems to work reliable and when its turned on by remote it still is picked up rather quickly (1 sec).
poweroff works through the app ok, inclyding the right state. but it never detects a remote button off

[2020-03-27 17:47] MaxvandeLaar commented on #18
@kaohlive, good to hear things at least improved. Do you by any chance have the logs when you power off with the remote? It's possible the logic is still not good enough for your state changes. I have an idea what the issue could be, however I'd like to verify in the logs before tinkering :)

[2020-03-27 17:53] MaxvandeLaar commented on #18
@kaohlive, So I might just figured out why your tv is much faster than mine and now I experience the same behaviour as you... the tv is not turned off in the app. I guess you have quick start+ turned on?

[2020-03-27 17:57] kaohlive commented on #18
i do, i love these quick loads 😚

[2020-03-27 17:58] kaohlive commented on #18
on the log, need to wait till my family is asleep, can bother them with that during prime time

[2020-03-27 18:01] MaxvandeLaar commented on #18
@kaohlive, that's okay thanks for trying and all the testing. I am amazed with how fast the response time is when quick start+ is turned on. It's pretty much instant detected by the web app. So now I can reproduce it, I can also test it and got a fix already. Currently finetuning the timeout but I suppose it won't be much longer than 1 or 2 seconds. I'll let you know when I have a rc3 released so

[2020-03-27 18:40] kaohlive commented on #18
@MaxvandeLaar strange, after a while the poweron problem came back, restarting the app made it go away (for now)

[2020-03-27 18:50] MaxvandeLaar commented on #18
@kaohlive hmm okay, I first only wanted to set a timeout on the off state check, but this makes me think it's best to just use the timeout for on and off checking. I made the timeout interval a setting so everyone can fine-tune it to their likings. The default value will be 2 seconds (used to be 2 minutes) so still a drastic improvement.  I'll test it a bit more before making a new release

[2020-03-27 19:04] MaxvandeLaar commented on #15
@zwaardemaker @OllemGit Already released a new candidate with on/off listener improvements. Best to just download the latest (pre)release version to test with.

[2020-03-27 19:11] MaxvandeLaar commented on #18
@kaohlive Here is v2.0.0-rc3 https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.0.0-rc3

So the major problem with the new state listener is that the TV fires an event even when its processing turning on/off (as you probably noticed in the loggin). This makes the state check unreliable and without knowing the possible states and processes the tv goes through I had to come up with som

[2020-03-27 20:06] zwaardemaker commented on #15
@MaxvandeLaar first thing tomorrow morning!

[2020-03-27 21:27] kaohlive commented on #18
Unfortunately it is getting a bit worse for my tv :(.
Now the TV shutdown again and the off state is still missed in any scenario other than shutdown from the app.

[2020-03-27 21:35] kaohlive commented on #18
Shutdown event using the remote:
2020-03-27 22:25:27 [log] [ManagerDrivers] [webos_plus] [0] _handleResponse: ssap://com.webos.service.tvpower/power/getPowerState
2020-03-27 22:25:27 [log] [ManagerDrivers] [webos_plus] [0] _powerStateListener: Power state changed { returnValue: true,
  state: 'Active',
  processing: 'Request Power Off' }
2020-03-27 22:25:27 [log] [ManagerDrivers] [webos_plus] [0]

[2020-03-27 21:44] kaohlive commented on #18
On the poweroff detection:
What strikes me as odd is the line:
2020-03-27 22:25:32 [log] [ManagerDrivers] [webos_plus] [0] powerStateListener: received on

After both shutdown events we still receive an ON. I think that's the main bug. You can see in the first part the remote power off did trigger a Request Power Off event nicely. Then the entire state cycle happens: Request Active Standby/Request

[2020-03-27 21:50] kaohlive commented on #18
On the poweroff while activating the TV, the last log:
2020-03-27 22:33:27 [log] [ManagerDrivers] [webos_plus] [0] _powerStateListener: Power state changed { returnValue: true,
state: 'Active',
processing: 'Request Power Off' }
There is a clear log entry that something seems to perform a request power off. The big question is here, what is now doing that?
As soon as this happens you see the logs m

[2020-03-27 21:52] kaohlive commented on #18
Now after writing the above comments, I turned it on with the remote resulting in this log:
2020-03-27 22:51:02 [log] [ManagerDrivers] [webos_plus] [0] _handleResponse: ssap://com.webos.service.tvpower/power/getPowerState
2020-03-27 22:51:02 [log] [ManagerDrivers] [webos_plus] [0] _powerStateListener: Power state changed { returnValue: true, state: 'Suspend' }
2020-03-27 22:51:02 [log] [ManagerDri

[2020-03-27 22:10] kaohlive commented on #18
I think I see the issue,
on your state checks during the power down you get:
{ returnValue: true,
state: 'Active',
processing: 'Request Active Standby' }
{ returnValue: true,
state: 'Active',
processing: 'Request Suspend' }
{ returnValue: true,
state: 'Active',
processing: 'Prepare Suspend' }

So this last state check should put the state value to 'Active'
And then you call the timer with the stat

[2020-03-27 22:21] kaohlive commented on #18
So I changed the code to:
timer = setTimeout(() => {
        this.log(`_powerStateListener: Called timeout`, status, processing);
        if (processing === null || processing === 'Screen On') {
          handleOn();
        } else if (processing === 'Prepare Suspend') {
          handleOff();
        }
        clearTimeout(timer);
        timer = null;
      }, this.getSettings().powerStateTimeou

[2020-03-28 08:58] shaarkys opened #19 "WebOS Plus v1.3.1 crashing"
**Describe the bug**
WebOS Plus v1.3.1 crashing upon start / app restart - not working at all

**To Reproduce**
Happens after I have added device / LG OS TV

**Screenshots**

![obrazek](https://user-images.githubusercontent.com/14859895/77819361-93054900-70da-11ea-9ca8-ae3f584d883b.png)

[2020-03-28 09:01] shaarkys commented on #19
Seems it's working with 2.0 rc, sorry ;-)

https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.0.0-rc2

[2020-03-28 09:01] #19 closed

[2020-03-28 09:18] MaxvandeLaar commented on #18
@kaohlive without checking all the log lines you send (just woke up) I agree with what the actually issue is. I am not yet really sure if the fix you wrote will work. So I have 2 LG tv's one in the living room and one on the second floor. The living room tv works (my rc3.0 code) perfectly, the second floor tv did not registered it going off.

I could not check the log at that time, however I belie

[2020-03-28 09:44] MaxvandeLaar commented on #19
@shaarkys, v2.x doesn't really 'fix' it, check #4

[2020-03-28 13:11] zwaardemaker commented on #15
@MaxvandeLaar both methods still don't work for me.

[2020-04-02 15:34] MaxvandeLaar commented on #15
@zwaardemaker @OllemGit, Could you try out the release candidate 6?

https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.0.0-rc6

It appears the toast message API never throws an error even though there is one... So now I figured out how to catch them I show them when it fails in the flow editor. I also resized all images to 200px to prevent images which are to large.

[2020-04-02 15:57] OllemGit commented on #15
I just did but no luck at all when sending a simple txt toast message the app crashes it seems?
Happened twice with just sending a very simple 'text toast message'

✓ Pre-processing app...
✓ Validating app...
✓ Homey App validated successfully against level `debug`
✓ Packing Homey App...
✓ Pruning dev dependencies...
 — App size: 8.41 MB
✓ Installing Homey App on `Homey` (http://192.168.2.117:80).

[2020-04-02 16:03] OllemGit commented on #15
Tried again and this time got error message:
- text field just "test"
- image url - empty

2020-04-02 18:00:47 [log] [ManagerDrivers] [webos_plus] [0] powerStateListener: received on
2020-04-02 18:00:57 [log] [ManagerDrivers] [webos_plus] [0] _toastSend: Send request to create a toast message as undefined
unhandledRejection TypeError: First argument must be a string, Buffer, ArrayBuffer, Array, or

[2020-04-02 16:08] zwaardemaker commented on #15
No crashes overhere. No error, but also no message and no image either.

[2020-04-02 17:34] MaxvandeLaar commented on #15
@OllemGit ohh I forgot to check for empty icon... sorry will fix that soon...

[2020-04-02 17:49] MaxvandeLaar commented on #15
@OllemGit I fixed the crashing https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.0.0-rc7

@zwaardemaker @OllemGit could you try again and preferably check the logging as well to see  what the response is? Just paste the log in here so I can check it

You can see the logging by running the app instead of installing using `homey app run`. When you are finished reading the log you can

[2020-04-02 18:06] OllemGit commented on #15
with rc7 same test without image now runs successfully again:

2020-04-02 20:00:29 [log] [ManagerDrivers] [webos_plus] [0] appListener: Set image for 'com.webos.app.hdmi1' HDMI 1 (http://192.168.2.147:3000/resources/e150e19f45339af2f497a051337040e37108ccda/HDMI_1.png)
2020-04-02 20:00:30 [log] [ManagerDrivers] [webos_plus] [0] _powerStateListener: Called timeout active null
2020-04-02 20:00:30 [lo

[2020-04-02 18:09] OllemGit commented on #15
With image (some internet jpg) I get following error message:

2020-04-02 20:03:15 [log] [ManagerDrivers] [webos_plus] [0] _toastSend: Send request to create a toast message as undefined
2020-04-02 20:03:15 [log] [ManagerDrivers] [webos_plus] [0] _handleResponse: ssap://system.notifications/createToast
2020-04-02 20:03:15 [log] [ManagerDrivers] [webos_plus] [0] _toastSend: Successfully sent a toas

[2020-04-02 18:11] OllemGit commented on #15
when using this as img url: LG hdmi1 png:
http://192.168.2.x:3000/resources/e150e19f45339af2f497a051337040e37108ccda/HDMI_1.png
I get a different error message:

2020-04-02 20:09:36 [log] [ManagerDrivers] [webos_plus] [0] _toastSend: Send request to create a toast message as tiff
2020-04-02 20:09:39 [log] [ManagerDrivers] [webos_plus] [0] _handleResponse: ssap://system.notifications/createToast
20

[2020-04-02 18:43] zwaardemaker commented on #15
Will do asap

[2020-04-03 08:18] MaxvandeLaar commented on #15
@OllemGit so you first failed toast shows that your url is not actually returning an image
`2020-04-02 20:05:27 [log] [ManagerDrivers] [webos_plus] [0] _toastSend: Send request to create a toast message as html` the link is probably a redirect to an image.

The second failed toast shows that the image you are trying to send to the tv is to large.
`errorText: '161000 bytes icon size greater than ma

[2020-04-03 08:53] OllemGit commented on #15
I created a very simple flow using 2 cards:
if - when this flow is started
then - send a toast message with
1 text: test
2 image: http://192.168.2.x:3000/resources/e150e19f45339af2f497a051337040e37108ccda/HDMI_1.png
(this is the hdmi1 image visible when opening the tv set in the app when hdmi1 is selected as input on the tv)

Tested it again with rc7 (double checked) by testing the flow in de http

[2020-04-03 14:19] MaxvandeLaar commented on #15
@OllemGit, thanks this makes more sense, apparently it's not succeeding in getting the correct mime type from the image and by default it uses tiff. And tiff is not supported when resizing.

Very helpful log! Thanks.

[2020-04-03 17:40] MaxvandeLaar commented on #15
@OllemGit try https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.0.0-rc8 That should fix your error message

[2020-04-05 18:59] OllemGit commented on #15
Been busy and missed this one... will give it a try tomorrow!

[2020-04-06 08:42] zwaardemaker commented on #15
@MaxvandeLaar Hi Max,
I get the same rmessage with the image

2020-04-06 10:24:08 [log] [ManagerDrivers] [webos_plus] DRIVER TYPE image/jpeg
2020-04-06 10:24:08 [log] [ManagerDrivers] [webos_plus] [0] _toastSend: Send request to create a toast message as jpeg
2020-04-06 10:24:28 [log] [ManagerDrivers] [webos_plus] [0] _handleResponse: ssap://system.notifications/createToast
2020-04-06 10:24:28 [er

[2020-04-06 08:54] MaxvandeLaar commented on #15
@OllemGit so my code defaults to tiff if the mime type of the image is not detected. Apparently, it can't detect the mime type of your png image thus continues as tiff.

@zwaardemaker @OllemGit, So the tv isn't responding to the API call to create a toast and thus throws an timeout. Since I cannot see the logging from the TV, I can't investigate this any further. If I will have new info, I will le

[2020-04-06 09:23] zwaardemaker commented on #15
👍

[2020-04-06 11:19] OllemGit commented on #15
Should it work all the way we try?
https://www.webosose.org/docs/reference/ls2-api/com-webos-notification/#createtoast
Shows:

iconUrl | Optional | String | The file path of the alert icon. The file path must be local to the device.
NOTE​: The icon must be 80 x 80 and in the PNG format.

[2020-04-06 11:22] MaxvandeLaar commented on #15
@OllemGit, I regret to tell you that the documentation you found is sadly not the correct one. WebOS OSE does not fully equal the WebOS on TV's, at least not for the tv's I have tested with.

[2020-04-06 12:04] OllemGit commented on #15
Similar issues are posted here so It's likely a generic issues with newer LG TV's...

https://community.home-assistant.io/t/lg-webos-notifications-w-icon-problems/142391
https://github.com/home-assistant/core/issues/25935

[2020-04-06 12:55] MaxvandeLaar commented on #15
Thanks for your info, in that case, I am closing the issue. If there is any news regarding this, please feel free to reopen it.

[2020-04-06 12:55] #15 closed

[2020-04-06 17:04] MaxvandeLaar commented on #18
@kaohlive can we close this? Or do you still experience issues with the release of v2.0.0?

[2020-04-06 17:04] MaxvandeLaar commented on #17
@kaohlive can we close this? Or do you still experience issues with the release of v2.0.0?

[2020-04-06 17:06] kaohlive commented on #18
i did not update since my own hotfixed version. ill give the new one a go tonight. but you can close this one, its related to an old versiin anyway 👍

[2020-04-06 17:07] kaohlive commented on #17
close it! 👍👍

[2020-04-06 17:14] #17 closed

[2020-04-06 17:14] #18 closed

[2020-04-06 17:15] MaxvandeLaar commented on #18
@kaohlive, I implemented your hot fix however changed it slightly so I suppose you can upgrade without any issues

[2020-05-18 12:50] jonasvekeman opened #20 "TV marked as Off when screensaver is running"
Hi

Thanks for this app, it works great for my LG TV (LG OLED55C9PLA). The only thing I've noticed is that when the TV turns on it's screensaver (e.g. when I get a call whiling watching TV), the TV is marked as off in Homey. It doesn't look I can turn off the screensaver due to OLED protection.

I'm unaware if you can make a distinction between powered off and screensaver mode but I'm happy to ass

[2020-05-19 10:00] MaxvandeLaar commented on #20
@jonasvekeman Hmm interesting, if the state 'screen saver' is detected it is handled as 'on'. It is possible your tv is sending another state than I am expecting. If you can debug the app for me and check what 'state' and 'process' it is sending to the app I can change the logic accordingly.

You can debug the app by running `homey app run` instead of `homey app install` to see the logging. Keep o

[2020-05-19 10:13] OllemGit commented on #20
I checked yesterday and can confirm my OLED tv is also reporting 'screen saver' state as off.

[2020-05-19 10:29] jonasvekeman commented on #20
@MaxvandeLaar Thanks for the reply. I'll do the debugging tonight or tomorrow and get back to you. Do I need to uninstall the app first?

[2020-05-19 15:05] jonasvekeman commented on #20
Hi @MaxvandeLaar

I did a test with the screen saver, this is the output of the debug logging:

2020-05-19 16:58:02 [log] [ManagerDrivers] [webos_plus] [0] _handleResponse: ssap://com.webos.service.tvpower/power/getPowerState
2020-05-19 16:58:02 [log] [ManagerDrivers] [webos_plus] [0] _powerStateListener: Power state changed { returnValue: true,
  state: 'Active',
  processing: 'Request Screen Sav

[2020-05-19 15:20] MaxvandeLaar commented on #20
@jonasvekeman Thanks, I figured out why this is happening. I think this will fix it https://github.com/MaxvandeLaar/homey-webos-plus/releases/tag/v2.2.1

[2020-05-19 15:20] #20 closed

[2020-05-19 15:29] jonasvekeman commented on #20
First test proves to be succesfull, thank you very much.

[2020-05-19 15:30] MaxvandeLaar commented on #20
👍 No problem

[2020-09-12 21:41] pjmpessers opened #24 "App crash"
The app crashes when installing my oled cx on homey fw5.0rc26.

Sideload v2.2.1 and install oledtv in devices.

[2020-09-12 21:49] pjmpessers commented on #24
Installed v2.2.0 and this one works great. Only v2.2.1 crashes.

Happy with v2.2.0

[2021-01-19 19:47] jseverinson opened #27 "TV started sending on/off signals randomly"
**Describe the bug**
My TV updated itself today and after this it has started to act weirdly. It seems like the Homey app (I use v 2.2.1 development) is getting random on/off signals, despite the fact the tv's status has not changed. Please see the upper-most log items here, where I've logged the tv saying it's on (at 20:33:55, this was me turning it on), then off (20:35:48) then on again (20:35:5

[2021-01-23 20:58] SimonSkotheimsvik opened #28 "Change input by variabke"
I was planning to use a flow to cast the image from ring to the tv when someone is at my door. I was planning for a flow like this.

When: Ring alarm triggered
And: LGTV is on
Then:
- Read current LGTV input to a variable (ex HDMI4)
- Change the LGTV to the input with Chromecast (ex HDMI2)
- - - since I can't cast directly to webos
- Cast the picture from Ring to Webos
- Wait X sec and change back

[2021-01-24 05:26] twister5800 commented on #24
Hi,

Also have this issue, only 2.2.0 works, 2.2.1 crashes instantly when TV with WebOS 3.12 is configured.

other than that, thanks for a great app ;-)

best regards
Martin

[2021-02-03 20:53] johngrinders commented on #27
Now, I noticed also random on and off when the TV is off.  I didn't notice before, but how the TV statuses were needed, this error immediately surfaced.  Now, in a matter of seconds, the TV turned on several times.
![Uploading 5C689FBC-5D9B-467C-8FF9-39DB082307C3.png…]()

[2021-02-04 06:58] MaxvandeLaar commented on #27
@jseverinson @johngrinders Some users also asked this question on the Athom forum and this is something rather difficult for me to debug without access to debug logging and your tv. None of those will be possible of course. I anticipated possible on/off issues with some tv's as the LG tv's are a bit inconsistent when it comes to letting me know if a tv is on or off and when it actually changes sta

[2021-02-04 06:58] #27 closed

[2021-02-04 07:00] MaxvandeLaar commented on #28
I have added it to the roadmap

[2021-02-04 07:05] MaxvandeLaar commented on #24
@pjmpessers sorry for the late response, I have been working really hard on [https://store.homey.community]() and I am going to shift my focus backt to WebOS a little more.

@twister5800 @pjmpessers

If one of you could try to run the app by downloading it from this GitHub, unzip it, and run the following commands in your terminal.

`npm install`

followed by

`homey app run`

This will display al

[2021-02-04 21:45] pjmpessers commented on #24
Hello Max.

Good to hear your on it again. It wasn.t a problem. Here you have my logging. I hope it helps.

2021-02-04 22:42:59 [log] [WebosPlus] WebOS Plus is running...
internal/modules/cjs/loader.js:985
  throw err;
  ^

Error: Cannot find module 'node-fetch'
Require stack:
- /drivers/webos_plus/device.js
- /opt/homey-client/node_modules/homey-apps-sdk-v2/lib/Driver.js
- /opt/homey-client/node_

[2021-02-05 07:09] MaxvandeLaar commented on #24
Thanks @pjmpessers How did you install the app before? Did you downloaded it from Github and ran the CLI command or did you use the [https://store.homey.community]()?

I have seen this issue a few times when downloaded from Github, for some reason `node-fetch` doesn't always get installed from `npm` correctly.

[2021-02-05 09:27] pjmpessers commented on #24
I think i did it with homey store.  But it was a long time ago. Somehow i don't see it in the store. So i sideloaded it.

[2021-02-05 09:37] MaxvandeLaar commented on #24
It should be there ;) in the Video section [https://store.homey.community/category/video]() [https://store.homey.community/app/com.maxvandelaar.webos-plus]()

So if you sideboard the app, try to run `npm install` before running `homey app install`. This will most likely fix the issue. But I'd like to ask you to first try to install the HCS version (its the same) so I can tell if there is any under

[2021-02-05 09:43] pjmpessers commented on #24
I don't see it anymore. Only the LG WebOS from homey themself. Maybe because i use FW 5.0.0 rc62?

[2021-02-05 09:46] MaxvandeLaar commented on #24
Did you clicked the links I put above? that is my app of course ;). The WebOS plus app was never in de official store, only in my Homey Community Store.

Note, I forgot to add the correct hyperlink before, so try clicking them again sorry ;)

[2021-02-05 09:49] pjmpessers commented on #24
Now i see it. But the button install is grayed out.

[2021-02-05 09:59] pjmpessers commented on #24
Hello Max.

Great news. I couldn't install thru the https://store.homey.community/app/com.maxvandelaar.webos-plus. I think i do something wrong. But you are right. I sideloaded it, but before that i did: 'npm install'. And that helped.
Thanks for your help. I want to give you a small donation, but i dislike paypall.  Can i do it with a banktransfer?

[2021-02-05 10:00] MaxvandeLaar commented on #24
This most likely means you don't have the required setup yet to download and install apps.  [https://store.homey.community/hcs](https://store.homey.community/hcs) and don't forget to sign in by going to the green navigation bubble center item ;)

[2021-02-24 20:09] PeterKawa opened #29 ""App or input select" shows last fav website regardless of choice"
**Describe the bug**
A minor bug imho.
@ LG TV one can save multiple fav websites (these sites are now also selectable from the app list @ the TV)
Those sites are then selectable @ Homey with the WebOS Plus "select app or input" action card, see screenie 1.
Issue:
The last shown url keeps being shown, no matter which selectable url is sent from a flow.

**To Reproduce**
@ LG TV, start Webbrowser a

[2021-03-20 21:30] Strike2001 opened #31 "Screensaver State ?"

[2021-03-20 21:35] Strike2001 commented on #31
Is it possible to show correct input when screensaver turns on ?

so that is possible to use in a flow
when app input changed to screensaver
then ...
or Screensaver is turned on , then ....
the homebridge plugin has the option to show this state as switch , as a workaround in use a automation in homekit with turn this switch off ( scene) when it turns on ,
thx

[2021-03-20 21:39] Strike2001 commented on #31
There also a bug when switching input via or press play/pause  via remote .  is playing  or the title does not change to the correct input when switched via remote

[2021-10-09 20:09] runely opened #41 "App crashes right after authorized on TV"
**Describe the bug**
App crashes right after authorized on TV

**To Reproduce**
- Clone down a fresh install
- Run `npm install`
- Run `homey app run`

Also tried to remove `package-lock.json` and `node_modules` and runned `npm install` to get a total refresh of dependencies. Still app crashes on the same.

**Expected behavior**
A working app ;)

**Screenshots**
[code]

**Additional context**
My T

[2022-02-15 19:45] Frank2304 opened #44 "Green download button is working but WebOS Plus app is not installed on Homey"
**Describe the bug**
Green download button is working but WebOS Plus app is not installed on Homey - tried several times.

**To Reproduce**
Steps to reproduce the behaviour

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the proble

[2022-11-06 14:45] robindelange opened #48 "SDK 3"
Hallo Max,

ben je toevallig van plan de Webos plus app naar SDK3 te updaten? zodat hij ook op de nieuwe Homey pro gebruikt kan worden?
tevens valt het me op dat de app niet constanteert dat er iets aan het afspelen is, wel ziet de app dat de tv aan en uit gaat. ik zou graag namelijk een bioscoop scene van mijn lampen willen aansturen als netflix begint af te spelen

groeten

Robin de Lange

[2022-11-07 08:13] MaxvandeLaar commented on #48
Hi Robin,

Ik heb het nieuws omtrent nieuwe Homey devices en updates niet echt meer gevolgd. Werkt SDK2 niet meer dan? Reden waarom ik niet direct geupgrade heb naar SDK3 is vanwege een groot aantal gebruikers nog geen SDK3 kon draaien. Uiteraard is dat al een hele tijd geleden en dit speelt natuurlijk niet meer. Maw. ik zal eens kijken hoeveel werk het is om dit te upgraden.

Het is inderdaad zo

[2022-11-07 15:56] robindelange commented on #48
Max,

Bedankt voor je snelle reactie.

De nieuwe homey kan alleen maar SDK3 apps aan, nu is er op het forum al een bericht waarin sdk2 apps staan en wordt er veel meegedacht en geholpen om meer als de updaten naar sdk3. Sommige apps zijn zelfs al van developer gewisseld om zo toch te updaten. (Als ik Athom mag geloven, is het van sdk2 naar sdk3 updaten niet veel werk. Dit hebben zei gezegd in een